.content-block{
    @media (max-width:1200px) {
        margin-top: 80px;
    }
    @media (max-width:768px) {
        margin-top: 0;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 29px;
    margin-top: 115px;
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    h4{
        font-size: 24px;
        @media (max-width: 1200px) {
            font-size: 18px;
        }
    }
    p{
        font-size: 18px;
        color: #6C7279;
        font-size: 24px;
        @media (max-width: 1200px) {
            font-size: 14px;
        }
    }
    .content-block__img{
        margin: 0 auto;
        display: block;
        width: 100px;
        height: 100px;
        @media (max-width: 1200px) {
            width: 85px;
            height: 85px;
        }
        @media (max-width: 768px) {
            width: 75px;
            height: 75px;
        }
    }
    h4{
        margin-top: 40px;
        padding: 22px 0;
        justify-content: center;
    }
}